<div class="container">
  <img class="img-responsive pass-image" src="/assets/pass_front.png" style="margin-bottom: 20px">
  <img class="img-responsive pass-image" src="/assets/pass_back.jpg" style="margin-top: 20px">
</div>

