// Place all the styles related to the advocacy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Variables

// Set custom colors
$teal: #1abc9c !default;
$dark-blue: #2c3e50 !default;
$white: white;
// Override Bootstrap primary and secondary colors
$primary: $teal !default;
$secondary: $dark-blue !default;

// Override Bootstrap font variables
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-weight: 700 !default;

// Override Bootstrap border variables
$border-width: 0.125rem !default;
$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width !default;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;



.container-fluid { max-width: 1200px; }

.advocacy .card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  img {
    width: 100%;
  }
}

.advocacy [class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

.advocacy [class*="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}


.offer-points-text {
  border-radius: 0px;
  left: -10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid #51ba77;
  background: #51ba77;
  color: white;
  padding: 5px 10px;
  position: relative;
  width: 120px;
  height: 30px
}


.offer-points-text:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -20px;
  margin-left: 100px
}

// Custom divider with icon
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: $secondary;
    border-radius: 1rem;
    border-color: $secondary !important;
    &:first-child {
      margin-right: 1rem;
    }
    &:last-child {
      margin-left: 1rem;
    }
  }
  .divider-custom-icon {
    color: $secondary !important;
    font-size: 2rem;
  }
  &.divider-light {
    .divider-custom-line {
      background-color: $white;
    }
    .divider-custom-icon {
      color: $white !important;
    }
  }
}


// Styling for the portfolio modals
.portfolio-modal {
  .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 1rem;
    line-height: 3rem;
    color: $primary;
    opacity: 1;
  }
}


.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 400px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #51ba77;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #51ba77;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}



#cert {
  /* using certificate background image from code.org as an example */
  background-image:url('https://code.org/images/hour_of_code_certificate.jpg');
  background-size: contain;
  height:100%;
  background-repeat:no-repeat;
}

#name {
  margin-top:76mm;
  text-align:center;
  font-size:14mm;
  color:#4FC3F7;
  font-family:'Dancing Script';
  font-weight:bold;
}